exportPattern("^[[:alpha:]]+")
importFrom(e1071, cmeans)
importFrom(mclust, Mclust)
importFrom(mclust, mclustBIC)
importFrom(ggplot2, ggplot,aes, aes_string, geom_point, geom_line, geom_errorbar, geom_text, theme_minimal)
import("stats")
import("mclust")
import("UniversalCVI")

